/** 
*
* Main styling for Ithaca Apple Harvest Festival Site
* INFO / CS 1300 Final Project
* Authors: Colby Triolo cmt94 
*/

html, body {
    background-color: #e5e2d3;
    font-family: 'Playfair Display', serif;
}
#wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

#homepage_container {
    display: inline-block;
    max-width: 1280px;
    width:100%;
    font-family: 'Playfair Display';
}
#coupons {
   display: block;
   font-size: 200%;
   width: 20%;
   float: left;
   padding-right: .5em;
   padding-left: .5em;
   border-right: 2px solid black;
}
#right {
    display: block;
    width: 77%;
    float: right;
}
#about {
    display: block;
    width:71%;
    float:left;
    border-right: 2px solid black;
    margin: 0;
    padding-left: .5em;
    padding-right: .5em;
}
#restaurants{
    text-align: center;
    display: block;
    font-size: 200%;
    width: 25%;
    float: right;
}
#about img {
    display: block;
    margin:0 auto;
}
#coupon img {
    padding-bottom: .7em;
    margin: 0 auto;
}
.coupon {
    border: 1px dashed black;
    padding: .5em;
}

.restaurant {
    display: inline-block;
    margin:0 auto;
    padding: .7em;
}

#restaurants a{
    text-decoration: none;
}

#map img {
  display: block;
  padding-left: .5em;
  padding-right: .5em;
  width: 71%;
}

@media screen and (min-width:320px) and (max-width:480px) {
   #homepage_container{
     display: block;
     margin-left: 0;
   }
   #coupons{
       display: none;
   }
   #right{
       width: 100%;
       text-align: center;
   }
   #restaurants{
       width: 100%;
       display: block;
       font-size: 100%;
       float: none;
       border-top: 1px solid black;
   }
   .restaurant{
       padding: 1em;
   }
   #about{
       width: 100%;
       display: block;
       float: none;
       border: 0px;
       margin: 0 auto;
       padding: .2em;
   }


}